body {
    background-color: powderblue;
  }
h1 {
    border: 4px #eee solid;
    color: red;
    font-family: verdana;
    text-align: center;
    padding: 20px;
    margin: 50px;
}
h2 {
    border: 3px #ccc solid;
    color: blue;
    font-family: verdana;
    text-align: center;
    padding: 20px;
    margin: 40px;
}
p {
    border: 3px #ccc solid;
    color: rgb(0, 238, 255);
    font-family: 'Times New Roman';
    padding: 30px;
    margin: 40px;
  }